.app {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  position: absolute;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
}

.flex-col-container {
  display: flex;
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-row-container {
  display: flex;
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}

.candy-blue {
  color: #CDE4FF;
}
.candy-purple {
  color: #D2C2F9;
}
.candy-pink {
  color: #FFC5FD;
}

@media screen and (min-width: 992px) {
  .navbar-hover {
    opacity: 0;
    transition: opacity .3s, top .5s;
  }
  .navbar-hover:hover {
    opacity: 1;
  }
  .navbar-always-visible {
    opacity: 1;
  }
}
@media screen and (max-width: 991px) {
  .navbar-hover {
    opacity: 1;
  }
}
